.button{
  width: min-content;
  height: min-content;
  border-radius: 25px;
  border: 0px;
  background-color: white;
  cursor: pointer;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  &:hover{
    background-color: thistle;
  }
}