.wrapper{
  height: 100vh;
  width: calc(100vw - calc(100vw - 100%));
  background-color: azure;
}

.wrapperBlack{
  height: 100vh;
  width: calc(100vw - calc(100vw - 100%));
  background-color: #171313;
}